@{
    var firstPage = (ViewBag.CurrentPage - MikeUpjohnWebPortfolioV2CMS.Code.Settings.PAGINATIONOFFSETITEMCOUNT) < 1 ? 1 : (ViewBag.CurrentPage - MikeUpjohnWebPortfolioV2CMS.Code.Settings.PAGINATIONOFFSETITEMCOUNT);
    var lastPage = (ViewBag.MaximumPage < (ViewBag.CurrentPage + MikeUpjohnWebPortfolioV2CMS.Code.Settings.PAGINATIONOFFSETITEMCOUNT) ? ViewBag.MaximumPage : (ViewBag.CurrentPage + MikeUpjohnWebPortfolioV2CMS.Code.Settings.PAGINATIONOFFSETITEMCOUNT));
}
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="pagination">
                <ul>
                    @if (ViewBag.CurrentPage != 1)
                    {
                        <li class="prev">
                            <a href="@(ViewBag.CurrentPageURL)page-@(ViewBag.CurrentPage - 1)">&lt;&lt;</a>
                        </li>
                    }

                    @for (var i = firstPage; i <= lastPage; i++)
                    {
                        <li class="number">
                            <a href="@(ViewBag.CurrentPageURL)page-@i">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage < lastPage)
                    {
                        <li class="next">
                            <a href="@(ViewBag.CurrentPageURL)page-@(ViewBag.CurrentPage + 1)">&gt;&gt;</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
