@model MikeUpjohnWebPortfolioV2CMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="left-title">
                <h1>Forotten Password</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12">
                    <div class="form-component">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-label">
                                <label>Your Email: </label>
                                <span class="validation-asterisk">*</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                @Html.ValidationMessageFor(m=>m.Email)
                                @Html.TextBoxFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 center-item">
                                <input type="submit" value="Reset Password">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
