@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dev Builds";
}
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="left-title">
                <h1>Dev Builds</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <h2>Build 1000</h2>
            <h4>Release Date: 26 June 2016</h4>
            <ul>
                <li>Initial CMS build.</li>
            </ul>
        </div>
    </div>
</div>