@model MikeUpjohnWebPortfolioV2CMS.Models.ImageViewModel
@{
    ViewBag.Title = "Edit Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="left-title">
                <h1>Edit Image</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            @using (Html.BeginForm("Edit", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-xs-12">
                    @Html.HiddenFor(m=>m.HashedImageID)
                    <div class="form-component">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-label">
                                <label>New File Name: </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                @Html.TextBoxFor(m => m.FileName, new { placeholder = "New File Name (e.g. my-image.jpg)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-component">
                        <div class="row">
                            <div class="col-xs-12 center-item">
                                <input type="submit" value="Update Image">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>